@mixin form {
  .form {
    width: 100%;
    margin: 0 auto;

    &__section {
      margin-bottom: $large-margin;
    }

    &__line {
      margin-bottom: $medium-margin;

      &--button {
        margin-top: $large-margin;
      }

      &--heading {
        text-align: center;
      }

      &--link {
        text-align: right;
      }
    }
  }
}