// colors
$primary-color: #405996;
$danger-color: #8F3D3D;
$on-font-color: #fff;
$base-font-color: #333;
$base-background-color: #f0f0f0;
$main-background-color: #fff;
$dark-background-color: #777;
$modal-background-color: rgba(30, 30, 30, 0.7);
$weak-font-color: #777;
$shadow-color: #ddd;

// animation
$transition: 0.3s all ease;
$hover-filter: brightness(80%);

// borders
$border-radius: 4px;

//font-sizes
$mini-font-size: 14px;
$medium-font-size: 16px;
$semi-large-font-size: 18px;
$large-font-size: 20px;

//paddings
$mini-padding: 5px;
$medium-padding: 10px;
$semi-large-padding: 15px;
$large-padding: 20px;

//margins
$mini-margin: 5px;
$medium-margin: 10px;
$semi-large-margin: 15px;
$large-margin: 20px;


//z-index
$modal-z-index: 1000;
$modal-content-z-index: 1001;