// colors
$primary-color: #405996;
$danger-color: #8F3D3D;
$on-font-color: #fff;
$base-font-color: #333;
$base-background-color: #f0f0f0;
$main-background-color: #fff;
$weak-font-color: #777;
$shadow-color: #aaa;
// borders
$border-radius: 4px;

//font-sizes
$mini-font-size: 12px;
$medium-font-size: 14px;
$semi-large-font-size: 18px;
$large-font-size: 20px;

//paddings
$mini-padding: 5px;
$medium-padding: 10px;
$semi-large-padding: 15px;
$large-padding: 20px;

//margins
$mini-margin: 5px;
$medium-margin: 10px;
$semi-large-margin: 15px;
$large-margin: 20px;
