@mixin schedules-mixin() {

  .schedules {
    display: flex;
    flex-flow: column;

    &__schedule {
      margin-bottom: $medium-margin;
    }

    &__loading {
      text-align: center;
    }
  }

}